<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">
        <i class="fa fa-file-image-o"></i>
        Images
        <img src="images/spinner.gif" width="35" height="35" ng-show="loading">
      </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <button class="btn btn-lg btn-primary"
    ng-file-select
    ng-model="files"
    ng-file-change="upload()"
    >
        <i class="fa fa-cloud-upload"></i>
        Selecionar Imagem
    </button>
  </div>
</div>

<div class="row" ng-show="imgSrc != undefined">
  <div class="col-md-12 text-center">
    <img ng-src="{{imgSrc}}">
  </div>
</div>